@font-face { font-family: robots; src: url('/font/robots-font'); }

html, body{
    height: 100%;
    width: 90%;
    margin: 0px auto;
    background:whitesmoke;
    font-family: robots;
}

#container{
    width: 100%;
    height:94%;
    box-shadow: 0px 0px 45px lightgray;
}

#game_board img{
    margin: 15% auto;
}

#header{
    width: 100%;
    height: 10%;
    min-height: 10%;
    background: #000;
    color: white;
    font-size: 1em;
}

#header_sec{
    width: 100%;
    height: 4px;
    min-height: 4px;
    background: #669933;
}

#logo{
    display: block;
    font-weight: bold;
    margin-left: 24px;
    font-size: 2em;
}

#slogan{
    font-size: 0.75em;
    margin-left: 53px;
}

#footer{
    width: 100%;
}

#content{
    width: 100%;
    height: 95%;
    background: white;
}

#game_board{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 35%;
    height: 50%;
    min-width: 200px;
    min-height: 200px;
    max-width: 400px;
    max-height: 400px;
    margin: auto;
}

.row{
    width: 100%;
    height: 33%;
    margin: 0px auto;
}

.block{
    width: 32%;
    height: 100%;
    line-height: 100%;
    display: inline-block;
    float: left;
    text-align: center;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    display:none;
    background: gray;
    opacity: 0.5;
    text-align: center;
    color: white;
    font-weight: bold;
}

#sign{
    float: left;
}

#game_info{
    display: none;
    width: 100%;
    height: 8%;
    min-height: 8%;
    max-height: 8%;
    background: lightgray;
    text-align: center;
    padding-top: 5px;
    border-bottom: 1px solid #669933;
}

.game_info_block{
    display: inline-block;
    width: 25%;
}

.player_info_sub{
    width: 40%;
    background: lightgray;
}

.opponent_info_sub{
    width: 40%;
    background: lightgray;
}

#middle_row{
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.all_b{
    border: 1px solid;
}

.tb{
    border-top: 1px solid;
}

.rb{
    border-right: 1px solid;
}

.bb{
    border-bottom: 1px solid;
}

.lb{
    border-left: 1px solid;
}

#start_game_div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 15%;
    height: 5%;
    margin: auto;
    background: #669933;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
}

#opponent_left_message{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 5%;
    margin: auto;
    z-index: 10;
}

#loading_game{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
    width: 20%;
    min-width: 180px;
    margin: auto;
    background: #669933;
    padding: 20px;
    text-align: center;
    font-size: 0.8em;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 4px black;
}

.hide{
    display: none;
}

.inline{
    display:inline-block;
}

@media screen and (max-height: 300px) {
    #game_info{
        height: 30px
    }

    #game_board{
        margin-top: 55px;
    }

    #header{
        height: 10px;
    }
}

@media screen and (max-height: 400px) and (max-width: 300px) {

    #game_board{
        margin-top: 80px;

    }
}
@media screen and (max-width: 300px){

    #content{
        width: 300px;
    }

    #game_board{
        width: 200px;
    }
}